@charset "utf-8";

#hoge{
    width:100%;
    height:100%;
    margin:0 auto;
    background-color:rgb(255, 255, 255);
  }

  #hoge2{
    width:100%;
    height:100%;
    margin:0 auto;
    background-color:rgb(255, 255, 255);
  }
